DATABASE_URL=postgres://subillow:subillow@localhost:5433/subillow?sslmode=disable

GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://subillow:subillow@localhost:5433/subillow?sslmode=disable
GOOSE_MIGRATION_DIR=./internal/db/migrations
GOOSE_TABLE=public.migrations